@model CrudDapper.Models.Mobiledata

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Mobiledata</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.MobileID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MobileID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MobileName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MobileName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MobileIMEno)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MobileIMEno)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MobileManufactured)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MobileManufactured)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Mobileprice)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Mobileprice)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new {  id = Model.MobileID  }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
